@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

a {
  text-decoration: none !important;
}

.p311-header {
  & .p311-logo {
    & > a {
      border: 2px solid #25262a;
      padding: 8px;
      text-decoration: none;
      color: #25262a;
      text-transform: uppercase;
    }
  }
}
nav.p311-nav {
  & > ul.nav {
    & > li {
      padding: 10px 5px;

      & > a {
        color: #25262a;
        text-decoration: none !important;
        padding: 10px;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }

      & > ul {
        display: none;
        border-top: 2px solid #ee4266;
      }
    }

    & > li.p311-dropdown-menu {
        position: relative;
      & > a {
        &::after {
          content: "\f078";
        }
      }

      &:hover,
      &.active {
        & > a {
          color: #ee4266;
        }
        & > ul {
          width: 200px;
          display: block;
          border-top: 2px solid #ee4266;
          position: absolute;
          margin-top: 50px;
          z-index:1000;

          & > li {
            & > a {
              box-sizing: border-box;
              padding: 5px 5px;
              display: block;
              color: #7f8fa6;

              &:hover {
                background: #f4f5f9;
                color: #25262a;
              }
            }
          }
        }
      }
    }
  }
}

.p311-icons {
  & > a {
    color: #868995;
    padding: 5px;
    text-decoration: none;

    // & > .bag {
    //   position: relative;

    //   & > .chart-count {
    //     position: absolute;
    //     top: 0;
    //     background-color: #ee4266;
    //     width: 30px;
    //     height: 30px;
    //     border-radius: 50%;
    //   }
    // }
  }

  & > a.bag {
    position: relative;
    & > .shop-bag-count {
      position: absolute;
      background-color: #ee4266;
      border-radius: 50%;
      color: white;
      width: 17px;
      height: 17px;
      line-height: 17px;
      text-align: center;
      font-weight: 600;
      top: -6px;
      right: -16px;
    }
  }
}

[class*="p311-icons"] {
  font: normal normal normal 14px/1 FontAwesome;
}

.p311-icons-heart {
  &::after {
    content: "\f08a";
  }
}
.p311-icons-bag {
  &::after {
    content: "\f290";
  }
}
