@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.color-red {
  background-color: red;
  height: 200px;
  border: 1px solid white;
}
.color-green {
  background-color: green;
  height: 100px;
  border: 1px solid white;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none !important;
}

// header
.p311-header {
  & .p311-logo {
    & > a {
      border: 2px solid #25262a;
      padding: 8px;
      text-decoration: none;
      color: #25262a;
      text-transform: uppercase;
    }
  }
}
nav.p311-nav {
  & > ul.nav {
    & > li {
      padding: 10px 5px;

      & > a {
        color: #25262a;
        text-decoration: none !important;
        padding: 10px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }

      & > ul {
        transition: display, opacity 10s;
        display: none;
        opacity: 0;
        border-top: 2px solid #ee4266;
      }
    }

    & > li.p311-dropdown-menu {
      position: relative;
      & > a {
        &::after {
          content: "\f078";
        }
      }

      &:hover,
      &.active {
        & > a {
          color: #ee4266;
        }
        & > ul {
          transition: display, opacity 10s;
          width: 200px;
          display: block;
          opacity: 1;
          border-top: 2px solid #ee4266;
          position: absolute;
          margin-top: 10px;
          z-index: 1000;

          & > li {
            & > a {
              box-sizing: border-box;
              padding: 5px 5px;
              display: block;
              color: #7f8fa6;

              &:hover {
                background: #f4f5f9;
                color: #25262a;
              }
            }
          }
        }
      }
    }
  }
}

.p311-icons {
  & > a {
    color: #868995;
    padding: 5px;
    text-decoration: none;
  }

  & > a.bag {
    position: relative;
    & > .shop-bag-count {
      position: absolute;
      background-color: #ee4266;
      border-radius: 50%;
      color: white;
      width: 17px;
      height: 17px;
      line-height: 17px;
      text-align: center;
      font-weight: 600;
      top: -6px;
      right: -16px;
    }
  }
}
[class*="p311-icons"],
.p311-dropdown-menu a::before,
.p311-dropdown-menu a::after {
  font: normal normal normal 16px/1 FontAwesome;
}

.p311-icons-heart {
  &::after {
    content: "\f08a";
  }
}
.p311-icons-bag {
  &::after {
    content: "\f290";
  }
}

// cover

.p311-cover {
  background-color: #f9f9f9;
  height: calc(100vh - 174px);
  min-height: 600px;
  overflow: hidden;

  & .cover-title {
    text-align: center;
    & > h2 {
      font-size: 1em;
    }

    & > h1 {
      font-weight: bold;
      font-size: 4em;
      margin-bottom: 0.5em;
    }

    & a {
      padding: 12px 30px;
      background: #000;
      color: #fff;
    }
  }
}

.p311-img-fluid {
  height: calc(100vh - 174px);
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/model_3.png);
  background-position: center;
}

.col-lg-6 .p311-img-fluid {
  background-size: cover;
  background-position: top;
}

// discover
.p311-discover {
  height: 600px;
  .title-section {
    & > h1 {
      border-left: 4px solid #ee4266;
      padding-left: 10px;
    }
  }
}
