@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  padding-bottom: 10em;
}

.color-red {
  background-color: red;
  height: 200px;
  border: 1px solid white;
}

.color-green {
  background-color: green;
  height: 100px;
  border: 1px solid white;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none !important;
}

section,
footer {
  padding: 2.5em 0 4em 0;
}

.p311-header .p311-logo > a {
  border: 2px solid #25262a;
  padding: 8px;
  text-decoration: none;
  color: #25262a;
  text-transform: uppercase;
}

nav.p311-nav .active > a {
  color: #ee4266 !important;
}

nav.p311-nav > ul.nav > li {
  padding: 10px 5px;
}

nav.p311-nav > ul.nav > li > a {
  color: #25262a;
  text-decoration: none !important;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

nav.p311-nav > ul.nav > li > ul {
  -webkit-transition: display, opacity 10s;
  transition: display, opacity 10s;
  display: none;
  opacity: 0;
  border-top: 2px solid #ee4266;
}

nav.p311-nav > ul.nav > li.p311-dropdown-menu {
  position: relative;
}

nav.p311-nav > ul.nav > li.p311-dropdown-menu > a::after {
  content: "\f078";
}

nav.p311-nav > ul.nav > li.p311-dropdown-menu:hover,
nav.p311-nav > ul.nav > li.p311-dropdown-menu.active > a {
  color: #ee4266;
}

nav.p311-nav > ul.nav > li.p311-dropdown-menu:hover > ul {
  -webkit-transition: display, opacity 10s;
  transition: display, opacity 10s;
  width: 200px;
  display: block;
  opacity: 1;
  border-top: 2px solid #ee4266;
  position: absolute;
  margin-top: 10px;
  z-index: 1000;
  background-color: white;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

nav.p311-nav > ul.nav > li.p311-dropdown-menu:hover > ul > li > a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 5px;
  display: block;
  color: #7f8fa6;
}

nav.p311-nav > ul.nav > li.p311-dropdown-menu:hover > ul > li > a:hover {
  background: #f4f5f9;
  color: #25262a;
}

.p311-icons > a {
  color: #868995;
  padding: 5px;
  text-decoration: none;
}

.p311-icons > a.bag {
  position: relative;
}

.p311-icons > a.bag > .shop-bag-count {
  position: absolute;
  background-color: #ee4266;
  border-radius: 50%;
  color: white;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  font-weight: 600;
  top: -6px;
  right: -16px;
}

[class*="p311-icons"],
.p311-dropdown-menu a::before,
.p311-dropdown-menu a::after {
  font: normal normal normal 16px/1 FontAwesome;
}

.p311-icons-heart::after {
  content: "\f08a";
}

.p311-icons-bag::after {
  content: "\f290";
}

.p311-cover,
.p311-new-products {
  background-color: #f9f9f9;
  height: calc(100vh - 174px);
  min-height: 600px;
  overflow: hidden;
}

.p311-cover .cover-title,
.p311-new-products .cover-title {
  text-align: center;
}

.p311-cover .cover-title > h2,
.p311-new-products .cover-title > h2 {
  font-size: 1em;
}

.p311-cover .cover-title > h1,
.p311-new-products .cover-title > h1 {
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 0.5em;
}

.p311-cover .cover-title a,
.p311-new-products .cover-title a {
  padding: 12px 30px;
  background: #000;
  color: #fff;
}

.p311-img-fluid {
  height: calc(100vh - 174px);
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/model_3.png);
  background-position: center;
}

.col-lg-6 .p311-img-fluid {
  background-size: cover;
  background-position: top;
}

.p311-discover .title-section > h1 {
  border-left: 4px solid #ee4266;
  padding-left: 10px;
}

.p311-discover .product-item {
  overflow: hidden;
  position: relative;
  background-color: #f9f9f9;
}

.p311-discover .product-item > a {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #000000;
  padding: 10px 30px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.p311-discover .product-item > a:hover {
  background-color: #000000;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.p311-discover .product-item > a span {
  font-size: 10px;
  color: #ced4da;
}

.p311-discover .product-item > img {
  max-width: 300px;
  height: auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.p311-discover .product-item.sm-height {
  height: 300px;
}

.p311-discover .product-item.full-height {
  height: 100% !important;
}

.p311-discover .product-item.full-height > img {
  bottom: 0;
  position: absolute;
}

.p311-popular .title-section > h1 {
  border-left: 4px solid #ee4266;
  padding-left: 10px;
}

.p311-popular .item-entry .item-title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
}

.p311-popular .item-entry .product-item {
  background-color: #f9f9f9;
  margin-bottom: 30px;
}

.p311-popular .item-entry h2,
.p311-popular .item-entry .h2,
.p311-popular .item-entry del {
  color: gray;
}

.p311-popular .item-entry del {
  font-size: 15px;
}

.p311-popular .item-entry a.md-height {
  height: 400px;
  overflow: hidden;
  position: relative;
  padding: 40px;
}

.p311-popular .item-entry a.md-height > img {
  position: absolute;
  top: 15%;
  left: 0;
}

.icon-star2 {
  font-family: FontAwesome;
}

.icon-star2::after {
  content: "\f005";
}

.p311-most-rated .title-section > h1.text-center {
  position: relative;
  font-size: 30px;
}

.p311-most-rated .title-section > h1.text-center::after {
  content: " ";
  height: 4px;
  background-color: #ee4266;
  width: 10%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  top: 125%;
}

.p311-most-rated .item-entry {
  overflow: hidden;
  position: relative;
  height: 300px;
}

.icon-arrow_forward,
.icon-arrow_back {
  font-family: FontAwesome;
}

.icon-arrow_forward:after {
  content: "\f061";
}

.icon-arrow_back:after {
  content: "\f060";
}

.owl-nav {
  text-align: center;
  font-size: 34px;
}

.owl-nav button {
  margin-right: 20px;
  outline: none;
}

.p311-new-products .p311-img-fluid {
  height: calc(100vh - 174px);
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/model_6.png);
  background-position: center;
}

.p311-footer {
  color: #5c626e;
}

.p311-footer a {
  color: inherit;
}

.p311-footer h1,
.p311-footer h2,
.p311-footer h3,
.p311-footer h4 {
  font-size: 14px;
  color: #25262a;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.p311-footer a {
  margin: 20px 0;
}

.p311-footer a.address {
  margin-left: 39px;
  display: block;
  position: relative;
  line-height: 25px;
}

.p311-footer a.address::before {
  left: -39px;
  font-family: FontAwesome;
  content: "\f041";
  color: #ee4266;
  font-size: 25px;
  margin-right: 20px;
  top: 2px;
  position: absolute;
}

.p311-footer a.phone {
  margin-left: 39px;
  display: block;
  position: relative;
  line-height: 25px;
}

.p311-footer a.phone::before {
  left: -39px;
  font-family: FontAwesome;
  content: "\f095";
  color: #ee4266;
  font-size: 25px;
  margin-right: 20px;
  top: 2px;
  position: absolute;
}

.p311-footer a.email {
  line-height: 25px;
  margin-left: 39px;
  display: block;
  position: relative;
}

.p311-footer a.email::before {
  font-family: FontAwesome;
  left: -39px;
  content: "\f0e0";
  color: #ee4266;
  font-size: 25px;
  margin-right: 20px;
  top: 2px;
  position: absolute;
}

.subscribe .form-group {
  position: relative;
}

.subscribe .form-group > #subscribe-email {
  border-radius: 10px;
  border: 1px solid #ced4da;
  height: 48px;
  padding: 10px;
  padding-right: 96px;
  outline: none;
  color: #000000;
}

.subscribe .form-group > #subscribe-email:focus {
  border-color: #ee4266;
}

.subscribe .form-group > button {
  background-color: #ee4266;
  color: #ffffff;
  border-radius: 8px;
  height: 42px;
  padding: 10px;
  outline: none;
  border: none;
  width: 90px;
  position: absolute;
  top: 3px;
  right: 3px;
}

.p311-contact-cover {
  background-image: url("../img/about_1.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Contact*/
.p311-breadcrumb .breadcrumb-nav {
  margin: 0;
  padding: 0;
  padding: 10px 20px;
}

.p311-breadcrumb .breadcrumb-nav > li {
  display: inline-block;
  float: left;
  padding: 10px;
}

.p311-breadcrumb .breadcrumb-nav > li a {
  color: #ee4266;
}

.p311-breadcrumb .breadcrumb-nav > li::before {
  content: "/";
  margin-right: 20px;
  font-weight: normal !important;
  color: #8c92a0;
}

.p311-breadcrumb .breadcrumb-nav > li:first-child::before {
  content: "";
}

.p311-breadcrumb .breadcrumb-nav > li:last-child {
  font-weight: bold;
}

label.important::after {
  content: "*";
  color: #ee4266;
  margin-left: 3px;
}

.contactForm {
  border: 1px solid #ced4da;
}

.contactForm input:not([type=submit]):not([type=reset]):focus, .contactForm textarea:focus {
  border-color: #ee4266;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contactForm #sendMessage {
  padding: 10px 20px;
  background-color: #ee4266;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */